/*General Style*/
{
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

body {
  margin: 50px;
  font-family:Arial, sans-serif;
  line height: 1.6;
  text align: center;
}

  header {background: #DC4D01;
    color: #fff;
          text-align: center;
}

p {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    max-width:2600px;
    font-size: 1.5rem;
}
  .navbar {
  padding: 10px 0;
    position: fixed; /* Make the nav bar stick to the top */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure nav is above other content */
}
 
.nav-links {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Arrange list items horizontally */
    justify-content: center; /* Center the links */
}
.nav-links {
    display: block; /* Make the entire area clickable */
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.nav-links a.active {
    border-bottom: 2px solid #fff;
}

.problem-solution {
    padding: 100px 200px;
    text align: center;
    background: #FFDFBF;
}

h2 {
 font-family: helectiva, serif;
 font-size: 2rem
  text-align: center;
}

h3 {
 font-family: helectiva, serif;
 font-size: 2rem
  text-align: center;
}
    

.Button {
  padding: 10px 20px;
  background: #DC4D01;
  color: #DC4D01;
  boarder: white 9px;
   border-radius: 20px;
  text-decoration: none;
    font-weight: bold;
    margin: 0.5px;
    font-size: 1.5rem
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; transition-delay: 0.1s; transition-duration: 0.3s;
    text-align: center; 
}

.Button:hover {
    background-color: #634beb;
    transform: scale(1.1);
}

    
    
