/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 80px; /* Prevent navbar overlap */
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-start; /* everything aligns left */
  align-items: center;
  gap: 40px; /* little space between logo + menu */
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #DC4D01;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

/* NAVIGATION */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  font-size: 1.1rem;
  padding: 8px 12px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.nav-links a.active {
  border-bottom: 2px solid white;
}

/* SECTION: Problem & Solution */
.problem-solution {
  padding: 40px 30px;
  background: #FFDFBF;
}

/* Headings */
h2, h3 {
  font-family: Helvetica, serif;
  margin-bottom: 15px;
}

/* Paragraphs */
p {
  margin-bottom: 15px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

/* BUTTON */
.Button {
  display: inline-block;
  padding: 10px 25px;
  background-color: white;
  color: #DC4D01;
  border: 3px solid #DC4D01;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
}

.Button:hover {
  background-color: #634beb;
  color: white;
  transform: scale(1.1);
}


.feature {
  background: #FFDFBF;
  padding: 20px;
  margin: 25px auto;
  border-radius: 15px;
  border-left: 6px solid #DC4D01;
  max-width: 900px;
  text-align: left;
}

.feature h3 {
  color: #DC4D01;
}
