/*General Style*/
body {
  margin: 50px;
  font-family:Arial, sans-serif;
  line height: 1.6;
  text align: center;
}

  header {background: #DC4D01;
    color: #fff;
          text-align: center;
}
  
  .navbar {
    dispaly: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px 20px;
}
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
  .nav-links {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a.active {
    border-bottom: 2px solid #fff;
}

.problem-solution {
    padding: 100px 200px;
    text align: center;
    background: #FFDFBF;
}

h2 {
 font-family: helectiva, serif;
 font-size: 20px
}
    

.Button {
  padding: 10px 20px;
  background: #DC4D01;
  color: #DC4D01;
  boarder: white 9px;
   border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; transition-delay: 0.1s; transition-duration: 0.3s;
    text-align: center; 
}

.Button:hover {
    background-color: #634beb;
    transform: scale(1.1);
}

    
    
